*{ 
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif; 
}

 .banner{ 
    background: url(../img/banner-bg3.png) center no-repeat; 
    background-size:cover; 
    height: 90vh; 
    padding-top:20rem; 
    text-align: center; 
}
         
.container{ 
     max-width: 1080px;
     margin: 0 auto; 
     display: flex; 
     flex-direction: column; 
     justify-content: center; 
     align-items: center; 
}

.banner_titulo{
    font-size: 3.5rem;
    color: rgb(133, 132, 221); 
}

.banner_subtitulo{
    font-size: 2.3rem;
    margin-top: 1.5rem;
    color: black;
}

.btn {
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 0.5rem 2rem; 
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1.56rem;
}

.btn-branco {
    background-color: white;
    color:  rgb(133, 132, 221); 
    text-decoration: none;
    border: 1px solid black;
    margin-top: 10px;
}

a:hover {
    background-color:  rgb(101, 36, 138); 
    color:white;
    cursor: pointer;
    border: 0;
}
/* sobre container */

.sobre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sobre__titulo {
    font-size: 2.5rem;
    color:  rgb(133, 132, 221);
    text-align: center; 
    margin: 2rem;
}

.sobre-descricao, .sobre-habilidades {
    width: 40%;
    line-height: 2.5;
    padding-bottom: 75px;
    margin-left: 10%;
}

.btn-roxo {
    color:   rgb(133, 132, 221);
    text-align: left;
    border: 1px solid black;
    text-decoration: none; 
    margin-top: 60px;
    margin:0 20% 0%;
    align-items: center;
}

.sobre-habilidades__titulo{
    color: rgb(133, 132, 221);
}

.my-name {
    color: rgb(133, 132, 221);
    font-weight: bold;
}
/* projects */ 

#projects {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 82px;

}
.projects__link:hover { 
    border: 0;
    opacity: 0;
  transition: .5s ease;
  background-color: #24a2cc;
}

.projects__link {
    padding: 2px;
    text-align: center;
    text-decoration: none;
    border: 0.5px solid rgb(228, 216, 216);
  margin-right: 5px;
  margin-left: 5px;
}

.projects__img {
    width: 100%;
    height: auto;
}
.projects__titulo {
    border-top: 1px solid rgb(228, 216, 216);
}
./* Redes Sociais*/
#footer-redes-sociais {
    text-align: center;
}
.redes-sociais__link:hover { 
    background-color: rgb(101, 36, 138); 
    color:rgb(245, 245, 255);
    border: 0;
}

.redes-sociais__link {
    display: inline-block;
    width: 15%;
    height: 170px;
    background-color: rgb(133, 132, 221);
    padding: 2rem 0;
    margin: 0 1rem;
    text-align: center;
    color: white;
    margin-left: 175px;
    border-radius: 1.5rem;
    border: 0px solid rgb(0, 0, 0);
    text-decoration:none;
}

.redes-sociais__img, .redes-sociais__titulo {
    margin-bottom: .5rem;
}

.footer__copy-texto {
    color: #c4c4c4;
    font-weight: lighter;
    margin-top: 3rem;
    padding: 1rem;
    padding-bottom: 200px;
}

.ultimafrase {
    margin-top:80px;
    margin-bottom: 80px;
    text-align: center;
    color: grey;
}

