
*{ 
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif; 
  }

 .banner{ 
    background: url(../img/banner-bg.png) center no-repeat; 
    background-size:cover; 
    height: 90vh; 
    padding-top:20rem; 
    text-align: center; 
    color: white; 
}
         
.container{ 
         max-width: 1080px;
         margin: 0 auto; 
         display: flex; 
         flex-direction: column; 
         justify-content: center; 
         align-items: center; 
        }

.banner_titulo{
    font-size: 5rem;
}

.banner_subtitulo{
    font-size: 2.3rem;
}

.btn {
    border-radius: 3rem;
    text-transform: uppercase;
    padding: 1rem 2rem; 
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-branco {
    background-color: white;
    color: rgb(92, 63, 223); 
    text-decoration: none;
    border: 1px solid;
}

/* sobre container */

.sobre-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sobre__titulo {
    font-size: 3rem;
    color: #c4c4c4;
    text-align: center; 
    margin: 2rem;
}

.sobre-descricao, .sobre-habilidades {
    width: 40%;
    line-height: 1.8;
    padding-bottom: 90px;
}

.btn-roxo {
    color: #7E459B;
    text-align: left;
    border: 1px solid #7E459B;
    text-decoration: none; 
    margin-top: 60px;
    margin:20%;
    align-items: center;
;}
./* Redes Sociais*/

.footer {
    text-align: center;
}

.redes-sociais__link {
    display: inline-block;
    left: 20%;
    width: 20%;
    background-color: #7E459B;
    padding: 2rem 0;
    margin: 0 1rem;
    text-align: center;
    color: white;
}
.redes-sociais__img, .redes-sociais__titulo {
    margin-bottom: .5rem;
}

.footer__copy-texto {
    color: #c4c4c4;
    font-weight: lighter;
    margin-top: 3rem;
    padding: 1rem;
    padding-bottom: 200px;
}