* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
  background: #5c4166;
  height: 10vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16;
}

.logo {
  letter-spacing: 3px;
  font-family: "Poppins", sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

main {
  display: flex;
  background-color: black;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
}
.entrance {
  color: white;
}
h1 {
  margin-left: 19vh;
  font-family: "Amatic SC", cursive;
  font-size: 4rem;
}
#nameAndPhrase {
  margin: 4vh 10vh 0 20vh;
  line-height: 8vh;
  font-size: 1.2rem;
  font-family: "Open Sans Condensed", sans-serif;
}

#adressAndContact {
  margin: 2vh 10vh 0 40vh;
  line-height: 10vh;
  font-size: 1.2rem;
  font-family: "Open Sans Condensed", sans-serif;
}

.entranceIMG {
  margin: 3vh;
  width: 53vh;
  height: auto;
  background: rgb(213 195 195 / 9%);
  box-shadow: 0 8px 32px 0 #5c4166;
  border-radius: 10px;
  border: 1px solid rgb(92 65 102);
  padding: 3vh;
}
/*skills */
#skills {
  background-color: rgb(255 235 187);
  width: 100%;
  height: 100vh;
}
header h3 {
  text-align: center;
  font-weight: bold;
  margin-top: 0;
  font-family: "Amatic SC", cursive;
  font-size: 5rem;
  color: #5c4166;
}

.hexa {
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213, 213, 213);
  background: -moz-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(213, 213, 213, 0) 0%,
    rgb(213, 213, 213) 8%,
    rgb(213, 213, 213) 92%,
    rgba(213, 213, 213, 0) 100%
  );
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa {
  width: 16px;
  height: 10px;
  position: absolute;
  background: #5c4166;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #5c4166;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #5c4166;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255, 255, 255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255, 255, 255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l {
  float: none;
}

.direction-r {
  float: none;
}

.direction-l,
.direction-r {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

/* projects */
#projectsDevelopement {
  background-color: rgb(255 235 187);
}

.starprojects {
  font-size: 5.5rem;
  color: rgb(92 65 102);
  line-height: 19vh;
  text-align: center;
  font-family: "Amatic SC", cursive;
}
.about_projects {
  text-align: center;
  margin-bottom: 20px;
  font: 1.5rem;
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 82px;
}
#projectsSecondLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 82px;
}

.projects__link:hover {
  border: 0;
  opacity: 0.4;
  transition: 0.4s linear;
  background-color: rgb(20, 17, 230);
  transform: scale(1.2);
}

.projects__link {
  padding: 2px;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid rgb(228, 216, 216);
  margin-right: 5px;
  margin-left: 5px;
}

.projectsLinkSecondLine {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border: 0.5px solid rgb(228, 216, 216);
  margin-right: 3px;
  margin-left: 3px;
}

.projects__img {
  width: 100%;
  height: auto;
}
.projects_img_second_line {
  width: 40%;
  height: auto;
}

.projects__titulo {
  border-top: 1px solid rgb(228, 216, 216);
  color: rgb(133, 132, 221);
}
.projects__subtitulo {
  color: rgb(80, 79, 79);
}

/* Redes Sociais*/
#footer-redes-sociais {
  display: flex;
  justify-content: center;
}
.redes-sociais__link:hover {
  transform: scale(1.2);
}

.redes-sociais__img {
  height: 15px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.ultimafrase {
  margin-top: 110px;
  margin-bottom: 50px;
  padding: 10;
  text-align: center;
  color: grey;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }

  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254, 254, 254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254, 254, 254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l {
    float: left;
  }

  .direction-r {
    float: right;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media (min-width: 992px) {
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}
